<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Match Up</title>
<style type="text/css">
body {
	background-color: #003366;
	height: 2000px;
}
.sidebar {

}

.header-cont {
	width: 100%;
	position: fixed;
	top: 0px;
}

.header {
	height: 70px;
	background: #FF6600;
	width: 100%;
	font-size: 30px
	
}

.content {

	width:100%;
	background: #F0F0F0;
	border: 1px solid #CCC;
	height: 2000px;
	
}
.hide { position:absolute; top:-1px; left:-1px; width:1px; height:1px; }
</style>

</head>
<body>
	<iframe name="hiddenFrame" class="hide"></iframe>

		<div class="header-cont">
			<div class="header">{{users.username}} {{users.score_total}}</div>
		</div>
		<div class="contents">
		</br>
		</br>
		<h1> Okay whatever</h1>
		<script type="text/javascript">
			// function gamesTable (gamesList) {
			// 	for (var i = 0; i< gamesList.length(); i++)
			// 		gameList[i].league
			// };
			console.log('1');
			function tableGames(){
				console.log('2');
				var matchList = (("{{matches}}")).split('],[');
				console.log(matchList);
				matchList = matchList.join();
				matchList = matchList.split('&#39');
				console.log(matchList);
				matchList = matchList.join();
				console.log(matchList);
				matchList = matchList.split('u,').join('');
				matchList = matchList.split(',;').join('');
				matchList = matchList.split(';').join('');
				console.log(matchList);
				matchList = matchList.split('],');
				console.log(matchList);
				var glist = new Array(matchList.length);
				for(var x = 0; x < matchList.length; x ++){
					var m = matchList[x].split('[').join('');
					var m = m.split(']').join('');
					var m = m.split(' ').join('');
					var mtch = m.split(',');
					glist[x] = mtch;
					
					console.log(mtch);
				}
				console.log(glist);
				var body=document.getElementsByTagName('body')[0];
				var tbl=document.createElement('table');
				tbl.style.width='100px';
				tbl.style.border = "1px solid black";

				for(var i = 0; i < glist.length; i++){
					var tr = tbl.insertRow();
					var game = glist[i];
					for(var j = 0; j < game.length; j++ ){            
						var td = tr.insertCell();
						td.appendChild(document.createTextNode(game[j]))
						td.style.border = "1px solid black";
					}
			            
				}
			    body.appendChild(tbl);
			}
			document.getElementsByClassName("content").innerHTML = tableGames();

		</script>
		 	

		<form action="../../update-schedule.py" method="POST" target="hiddenFrame">
			<input type="submit" value="Update" />
		</form>
		</div>

</body>
</html>
