<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Match Up</title>
<style type="text/css">
body {
	background-color: #003366;
	height: 2000px;
}
.sidebar {

}

.header-cont {
	width: 100%;
	position: fixed;
	top: 0px;
}

.header {
	height: 70px;
	background: #FF6600;
	width: 100%;
	font-size: 30px
	
}

.content {

	width:960px;
	background: #F0F0F0;
	border: 1px solid #CCC;
	height: 2000px;
	
}
</style>
</head>
<body>
		<div class="header-cont">
			<div class="header">{{users.username}}</div>
		</div>
		<div class="content">
		</br>
		</br>
		<h1> OKAY IT WORKS </h1>
		</div>

</body>
</html>